<div class="chat_left_footer">
    <div class="user_dp">
        <a href="#"><img id="user_profilePic" src="" alt=""></a>
    </div>
    <div class="app_name">
        <h4>TellEm</h4>
        <img src="../images/voicesquare.png" alt="">
    </div>
    <a id="user_settings" href="">
        <img src="../images/setting2.png" alt="">
    </a>
    
</div>