<div class="footer">
    <div class="logo">
        <h2>TellEm</h2>
        <img src="../images/voicesquare.png" alt="">
    </div>
    <div class="right_sec">
        <div class="about">
            <a href=""><img src="../images/globalsearch.png" alt=""></a>
            <a href=""><h4>About</h4></a>
        </div>
        <div class="about">
            <a href=""><img src="../images/setting2.png" alt=""></a>
            <a class="about_settings" href=""><h4>Settings</h4></a>
        </div>
    </div>
</div>