<h1><%= message %></h1>
<h2><%= error.status %></h2>
<pre><%= error.stack %></pre>

<!-- Errors -->
<!-- 1. forEach on msg Retriving -->
<!-- 2. on refresh the last loggedUser comes....how is that even possible 🙂 -->
<!-- 3. To hide previousSiblinig -->




