<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
   
    <link rel="stylesheet" href="../stylesheets/login.css">
</head>
<body>
    <div id="main">
          <%# include ../views/Partials/footer.ejs %> 

        <div class="centre">
            <div class="notch">
                <h5>User Login</h5>
            </div>
            <div id="signupLogin" class="notch">
                <h5><a style="color: #000;" href="/signup">Signup?</a></h5>
            </div> 

            <div class="name_form">

                <form id="login_form" action="/login" method="post">
                    <h4>Email</h4>
                    <input type="text" id="name_login_input" name="email" placeholder="Type your email here...">
                    <h4 id="email_login_input">Password</h4>
                    <input type="text" id="name_login_input" name="password" placeholder="Type your password here...">

                    
                    <h4><a href="#">Forgot Password?</a></h4>
                    <input type="submit" id="submit_login_btn" value="Login">
                    <hr>
                </form>
                <!--  login_with_google button -->
                <div id="withGo" class="login_with_google">
                    <a href="/auth/google"><h4>Login with Google</h4></a>
                    
                </div>
                <!-- login with github -->
                <div id="withG" class="login_with_google">
                    <a href="/auth/github"><h4>Login with Github</h4></a>
                    
                </div>


            </div>
        </div>

        <!-- left illustration -->

        <!-- <div class="left_illus"> -->
            <img class="left_illus" src="../images/man-gfb9167246_1280.png" alt="">
            <img class="right_illus" src="../images/istockphoto-1127886638-612x612.jpg" alt="">
        <!-- </div> -->

    </div>
</body>
</html>